*{
	margin:0%;
	padding: 0%;

}

nav{
	background: black;
	color: white;
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0%;
	padding: 0%;
}
nav p{
	padding: 10px;
}
nav p a{
	color: white;
}
nav div ul li{
	display: inline-flex;
	padding: 5px;
}
nav div ul li a{
	color:white;
}

.detalle{
	color: white;
	background:rgb(85, 0, 0);
	width: 100%;
	
	margin: 0%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product{
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgb(85, 0, 0);
	padding: 0%;
	margin: 0%;
	
}
.product h1{
	text-align: center;

}
.ppp{
	
	display:inline-block;

	padding: 2%;
}
.carrito{
	text-align: center;
	background-color: rgb(85, 0, 0);
	color: white;
	justify-content:space-between;
	flex-direction:;
	align-items: 

}
.carrito td{
	padding: 2%;
}
.carrito table{
	padding-left: 30%;
}