{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>
		{%block titulo%}
		Base
		{%endblock titulo%}
	</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}">
</head>
<body>
<nav>
	<a href="{%url 'products:products'%}"><img src="http://news.nike.com/resources/swoosh-default.jpg" width="150" height="100"></a>
	<p>
		
		{%with total_items=cart|length%}
		{%if cart|length > 0%}
		Tu carrito:<a href="{%url 'cart:cart_detail'%}">
			{{total_items}} item{{total_items|pluralize}}, $ {{cart.get_total_price}}
		</a>
		{%else%}
		the cart is empty
		{%endif%}
		{%endwith%}
	</p>
</nav>

{%block content%}
{%endblock content%}


{%block scripts%}
{%endblock scripts%}
</body>
</html>