{%load static%}
{%load product_tags%}
{%load profile_tag%}
<!DOCTYPE html>
<html>
<head>
	<title>
		{%block titulo%}
		NikeStore
		{%endblock titulo%}
	</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/base.css'%}">
</head>
<body>
<nav>
	<a href="{%url 'home:home'%}"><img src="/static/images/nike.jpg" width="150" height="100"></a>
<!-- Links para filtrar los resultados de productos -->
	<div>
		<ul>

			{%categories as cats%}
			{%for cat in cats%}
			<li><a href="{%url 'products:category' cat.category%}"><h1>{{cat.category}}</h1></a></li>
			{%empty%}
			<h2>No hay</h2>
			{%endfor%}	
	</div>

		
	</ul>

	<p>
		
		{%with total_items=cart|length%}
		{%if cart|length > 0%}
		Tu carrito:<a href="{%url 'cart:cart_detail'%}">
			{{total_items}} item{{total_items|pluralize}}, $ {{cart.get_total_price}}
		</a>
		{%else%}
		the cart is empty
		{%endif%}
		{%endwith%}
	</p>
	<div class="user">
		<p>
			{% if user and not user.is_anonymous %}
			Buy Mr. {{ user.get_full_name }}.
			<!--{{request.user.email}}-->
			<img src="http://graph.facebook.com/{%image_profile request%}/picture?type=large">

 			<a href="{% url 'user-logout' %}">Logout</a>
 
 			{% else %}
			 <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
			 Enter with Facebook
			 </a>
			 {% endif %}
		</p>
	</div>
</nav>

<div class="buy">
	<a href="{%url 'products:products'%}"><h1>JUST BUY IT</h1></a>
</div>


{%block content%}
{%endblock content%}


{%block scripts%}
{%endblock scripts%}
</body>
</html>